<section class="portfolio" id="portfolio">
  <div class="container">
    <h2>Portfolio</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="portfolio__item">
          <img class="img-fluid" src="https://picsum.photos/400/400" alt="'project image">
          <div class="portfolio__item-content">
            <h3>Project title</h3>
            <i class ="Pportfolio__item-desc">Project description</i>
            <button mat-fab color="accent">
              <i class="fas fa-link"></i>
            </button>
          </div>
        </div>
        <div class="portfolio__item">
          <img class="img-fluid" src="https://picsum.photos/400/400" alt="'project image">
          <div class="portfolio__item-content">
            <h3>Project title</h3>
            <i>Project description</i>
            <button mat-fab color="accent">
              <i class="fas fa-link"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-18 col-sm-24">
        <div class="portfolio__item">
          <img class="img-fluid" src="https://picsum.photos/900/660" alt="'project image">
          <div class="portfolio__item-content">
            <h3>Project title</h3>
            <i>Project description</i>
            <button mat-fab color="accent">
              <i class="fas fa-link"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
