<section class="portfolio" id="portfolio">
  <div class="container">
    <h2>Portfolio</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="portfolio__item">
          <img class="img-fluid" src="https://i.imgur.com/1nzczub.jpg" alt="'project image">
          <div class="portfolio__item-content">
            <h3>Global Terrorism</h3>
            <i class ="portfolio__item-desc">Predict in a particular month and country the number of people who was killed in terrorist attacks. (Python)</i>
            <button mat-fab>
              <a target="_blnak" href="https://github.com/KobiNisim21/Global-Terrorism-Project">
              <i class="fas fa-link"></i></a>
            </button>
          </div>
        </div>
        <div class="portfolio__item">
          <img class="img-fluid" src="https://i.imgur.com/aV7MrQt.png" alt="'project image">
          <div class="portfolio__item-content">
            <h3>Cost-Manager</h3>
            <i class ="portfolio__item-desc">As part of the "Client Side" course, we were asked to build a website that simulates managing financial expenses. It is possible to add new products and check the total expenses by month and year. <a target="_blnak" href="https://costmanage.netlify.app/">Link To Website</a></i>
            <button mat-fab>
              <a target="_blnak" href="https://github.com/KobiNisim21/CostManagment">
              <i class="fas fa-link"></i></a>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-18 col-sm-24">
        <div class="portfolio__item">
          <img class="img-fluid" src="https://i.imgur.com/UM9YEeo.jpg" alt="'project image">
          <div class="portfolio__item-content">
            <h3>NG Todo</h3>
            <i>Simple and modern To-do app in (Angular) <a target="_blnak" href="https://ng-to-do.netlify.app/">Link To Website</a></i>
            <button mat-fab>
              <a target="_blnak" href="https://github.com/KobiNisim21/Todo-app">
              <i class="fas fa-link"></i></a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
