<section class="about" id="about">
  <div class="container">
    <h2>About</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="about__image img-container">
          <img
            src="https://i.imgur.com/DhMxB6z.jpg"
            alt="My Image"
            class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="about__content">
          <p>
            Im 29 years old, from Israel, Holon. B.Sc Computer Science graduate
            from HIT. I graduated as a Dean's List. Currently working at Ness
            Technologies as a Network Security Engineer. More information about
            myself:
          </p>
          <div class="about__list">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <i class="fas fa-chevron-right"></i>
                    Multitasking
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i>
                    Team player
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i>
                    Self-learning ability
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i>
                    Problem solving
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <i class="fas fa-chevron-right"></i>
                    Working under pressure
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i>
                    Dedicated and hardworking
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p>
            Currently, I am looking for a junior development position. A student
            position that matches my skills. I am a very hard working guy who is
            just looking to develop and progress. I really hope to integrate
            into the industry soon and show you the great potential that I can
            provide. I have a particularly high independent learning ability
            with a strong desire to invest and learn. Here I will present to you
            some of my skills, my resume and projects I have done independently.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
