<section class="about" id="about">
  <div class="container">
    <h2>
      About
    </h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="about__image img-container">
          <img src="https://picsum.photos/620/800" alt="My Image" class="img-fluid"/>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="about__content">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque accusamus odit sit harum placeat eligendi praesentium assumenda corrupti esse? Dolorum odit eum esse voluptates fugiat excepturi ratione aspernatur illo consequatur?</p>
          <div class="about__list">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li><i class="fas fa-chevron-right"></i> Lorem, ipsun dolor. </li>
                  <li><i class="fas fa-chevron-right"></i> Lorem, ipsun dolor. </li>
                  <li><i class="fas fa-chevron-right"></i> Lorem, ipsun dolor. </li>
                  <li><i class="fas fa-chevron-right"></i> Lorem, ipsun dolor. </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li><i class="fas fa-chevron-right"></i> Lorem, ipsun dolor. </li>
                  <li><i class="fas fa-chevron-right"></i> Lorem, ipsun dolor. </li>
                  <li><i class="fas fa-chevron-right"></i> Lorem, ipsun dolor. </li>
                  <li><i class="fas fa-chevron-right"></i> Lorem, ipsun dolor. </li>
                </ul>
              </div>
            </div>
          </div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, voluptatibus consequuntur sequi enim labore dolorum nostrum architecto distinctio ullam minus est aliquam excepturi alias magnam harum nemo, reiciendis deserunt magni laudantium quos rem soluta tenetur assumenda nam. Eligendi, tempora placeat neque nobis ab laborum autem iste ipsa veniam. Debitis, perspiciatis.</p>
        </div>
      </div>
    </div>
  </div>
</section>
