@import "../../styles/_vars";

.header{
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background: #171717;
  height: 100vh;
  color: #fff;
  transition: 0.2 all ease;
  z-index: 999;

  &__image-container{
    margin: 50px auto 10px;
    width: 150px;
    height: 150px;
    border-radius: 500px;
    overflow: hidden;
  }

  &__links{
    margin-top: -15px;
    .d-flex {
      justify-content: space-evenly;
    }
    a {
      font-size: 42px;
      color: #fff;
      transition: 0.2s all ease;

      &:hover{
        color: $main-color;
      }
    }
  }

  .row{
    h2{
      margin-bottom: -5px;
      font-size: 2rem;
    }
    h4{
      font-size: 1.5rem;
    }
  }

  &__nav{
    margin-top: 30px;
    nav{
      ul{
        list-style: none;
        li{
          padding: 10px 0;
          a{
            color: #fff;
            text-decoration: none;
            &:hover {
              color: $main-color;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    left: -300px;
    &--active{
      left: 0;
    }
  }
}


.menu-btn-container{
  display: none;
  button {
    position: fixed;
    top: 10px;
    right: 10px;
    background: $main-color;
    z-index: 999;
  }

  @media screen and (max-width:991px) {
    display: block;
  }
}


