<div class="header" [ngClass]="{ 'header--active': isActive }">
  <div class="container">
    <section class="header__image">
      <div class="row">
        <div class="col-ls-12">
            <div class="header__image-container">
              <img class="img-fluid" src="https://picsum.photos/300/300" alt="">
            </div>
          <h2 class="text-center">Kobi Nisim</h2>
          <h4 class="text-center">FullStack Developer</h4>
        </div>
      </div>
    </section>
    <section class="header__links">
      <div class="d-flex text-center">
        <a target="_blnak" href="https://linkdin.com">
          <i class="fa-brands fa-linkedin"></i></a>
        <a target="_blnak" href="https://github.com">
          <i class="fa-brands fa-github"></i></a>
        <a target="_blnak" href="https://instagram.com">
          <i class="fa-brands fa-instagram"></i></a>
      </div>
    </section>
    <section class="header__nav">
      <nav>
          <ul>
            <li>
              <a href="#hero">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#resume">Resume</a>
            </li>
            <li>
              <a href="#portfolio">Portfolio</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
      </nav>
    </section>
  </div>
</div>

<div class="menu-btn-container">
     <button mat-fab (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
     </button>
</div>

