@import "../../styles/_vars";

.resume {
  &__skills{
    overflow: auto;
    background: $section-bg;
    padding: 30px 0;
  ul {
    padding: 0;
    li {
      min-width: 84px;
      display: grid;
      padding: 0 10px;
      font-size: 1rem;
      .desc_icon {
        position: relative;
        font-size: 1rem;
        @media screen and (max-width: 991px) {
          font-size: 0.5rem;
          margin-right: 25px;
        }
        text-align: center;
        opacity: 0;
      }
      i {
        font-size: 4rem;
        @media screen and (max-width: 991px) {
          font-size: 2.5rem;
        }
      }
    }
    li:hover {
      .desc_icon {
        opacity: 1;
        font-weight: 900;
        font-style: oblique;
        font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
      }
    }
  }
  p{
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: 200;
    color: #9d9d9f;
  }
}

  a {
    color: $main-color;
    font-weight: 800;
    text-decoration: none;
  }

  a:hover{
    color: #050505;
  }

  h2 {
    margin-top: 15px;
    font-size: 2rem;
  }

  &__details {
    padding: 30px 0;
    h4 {
      font-size: 1.33rem;
    }
  }

  &__resume-item {
    border-left: 2px solid $main-color;
    padding-left: 25px;
    position: relative;
    li::marker {
      content: "⭐";
      font-size: medium;
      color: $main-color;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -9px;
      border: 2px solid $main-color;
      background-color: #fff;
      border-radius: 50px;
      width: 15px;
      height: 15px;
    }

    ul {
      padding: 0 24px;
      list-style: disc;
      font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    }

    h4 {
      font-size: 1.33rem;
    }

    h5 {
      font-size: 16px;
      background: #e4edf9;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h6 {
      font-weight: bold;
      font-size: 1rem;
      padding: 10px 0 5px 0;
    }

  }



  .icon {
    width: 100%;
    transition: filter 0.4s ease;
  }
  .icon:hover {
    filter: blur(10px);
  }
}
