<section class="resume" id="resume">
    <div class="resume__skills">
      <div class="container">
      <h2>
        Skills
      </h2>
      <span class="seperator"></span>
        <ul class="d-flex">
          <li>
            <i class="devicon-angularjs-plain"></i>
          </li>
          <li>
            <i class="devicon-css3-plain"></i>
          </li>
          <li>
            <i class="devicon-html5-plain"></i>
          </li>
          <li>
            <i class="devicon-github-original"></i>
          </li>
          <li>
            <i class="devicon-javascript-plain"></i>
          </li>
          <li>
            <i class="devicon-python-plain"></i>
          </li>
          <li>
            <i class="devicon-c-plain"></i>
          </li>
          <li>
            <i class="devicon-cplusplus-plain"></i>
          </li>
          <li>
            <i class="devicon-mysql-plain"></i>
          </li>
          <li>
            <i class="devicon-react-original"></i>
          </li>
        </ul>
    </div>
  </div>
    <div class="resume__details">
      <div class="container">
        <h2>Resume</h2>
        <span class="seperator"></span>
        <p>I am a dedicated, autodidact, self-motivated team player, love to solve difficult problems. Has a fast and thorough self-learning ability. Always trying my best to think out of the box and learn as much as I can in the process.
        </p><br><h4>Please contact me to receive a complete resume.</h4>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h2>Summary</h2>
            <div class="resume__resume-item">
              <ul>
                <li>Email: kobinisim21@gmail.com</li>
                <li>Phone: 052-5683783</li>
                <li>City: Holon</li>
                <li>Year of birth: 1995</li>
              </ul>
            </div>
              <div class="resume__resume-item">
                <h2>Education</h2>
              <h4>B.Sc. Computer Science student </h4>
              <h5>2020-2023</h5>
              <h6>B.Sc. Computer Science student at the Holon Institute of Technology (HIT)</h6>
              <h5>2022</h5>
              <i> FreeCodeCamp certifications:<br>
                •	JavaScript Algorithms and Data Structures.<br>
                •	Responsive Web Design using HTML5 & CSS3<br>
                </i><br>
                <h5>2007-2013</h5>
                <i> Eylon High School (Holon) – Web and media major <br>Build websites using html. Has a technological certificate - technological sciences.
                <br>A website I built at the age of 18, self-learning from the Internet and school: <a href="http://www.KNDesign.co.il">http://www.KNDesign.co.il</a></i>
              </div>
              <h2>Military service</h2>
              <div class="resume__resume-item">
                <h5>2013-2016</h5>
                <i>Assistant commander in a team of technicians numbering 10 people.</i>
                <ul>
                  <li>Setting up a WDS server, CloneZilla, installations and hardware maintenance of system activation, DNS, DC, DHCP.</li>
                  <li>Awarded as the “Independence Day” As an excelling soldier of the unit by a colonel.</li>
                  <li>Awarded as the excellent student in the Network Managers course by a commander of the training base.</li>
                </ul>
              </div>
            </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="resume__resume-item">
              <h2>Projects</h2>
              <h4>Python - Data Science Project – Prediction</h4>
              <i>Machine learning for future prediction. GitHub -<a href="https://github.com/KobiNisim21/Global-Terrorism-Project/blob/main/GlobalTerrorism.pdf">Presentation Link</a> | <a href="https://github.com/KobiNisim21/Global-Terrorism-Project/blob/main/GlobalTerrorismProject%20(1).ipynb">Project Link</a>
                <br>The platform enables future prediction of the number of deaths in a selected country and in a certain year in the near-distant future - as a result of terrorist attacks.</i>
                <h6>Redemption method:</h6>
                <ul>
                  <li>Execution process crawling:   Pulling the information from the site and arranging it in information tables and performing data cleaning.</li>
                  <li>EDA:  Carrying out a process of answering key questions that can deepen the information that can be extracted from the data. Creating suitable visual graphs that will help in the learning process.</li>
                  <li>Regression Model:  Beyond the process of building the linear regression model.</li>
                  <li>Using the information gathered in order to create a predictive model for the number of casualties from terrorist attacks.</li>
                </ul>
                <h4>Angular - Simple and modern To-do app</h4>
                <i>Creating an NG-Todo application that allows you to insert a list of tasks to be performed. <a href="https://github.com/KobiNisim21/KobiNIsim12.github.io">Project Link</a></i>
                <h6>The construction process:</h6>
                <ul>
                  <li>The application includes the option to add tasks, send tasks to the archive, complete tasks and allows an advanced countdown based on the date we entered in our Todo creation form.</li>
                  <li>Using components from Angular Material such as; Buttons, Cards & Separators, Material Cards, Material Divider.</li>
                  <li>Working with Service which is used to transfer the information into the components.</li>
                  <li>Using Material Dialog for data management that goes easily and comfortably.</li>
                  <li>Using Material Form Fileds to create a new Todo opening form.</li>
                  <li>Using the browser's Local Storage in order to save locally Todo that we have added to the application.</li>
                </ul>
             </div>
          </div>
        </div>
      </div>
    </div>
</section>
