@import "../../styles/_vars";

.resume{
  ul{
    padding: 0;
    li{
      padding: 0 10px;
      font-size: 1rem;
      i {
        font-size: 4rem;
        @media screen and (max-width:991px) {
          font-size: 1rem;}
    }
  }
}
a{
  color: #025ba4;
  text-decoration: none;
}

h2{
  margin-top: 15px;
  font-size: 2rem;
}

  &__skills{
    background: $section-bg;
    padding: 30px 0;
  }

  &__details{
    padding: 30px 0;
  }

  &__resume-item{
    border-left: 2px solid $main-color;
    padding-left: 25px;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: -9px;
      border:  2px solid $main-color;
      background-color: #fff;
      border-radius: 50px;
      width: 15px;
      height: 15px;
    }


    ul{
      padding:0 24px;
      list-style: disc;
      font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    }

    h5 {
      font-size: 16px;
      background: #e4edf9;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h6{
      font-weight: bold;
      font-size: 1rem;
      padding: 5px 0 10px 0;
    }
  }
}
